{
  "extends": [
    "airbnb",
    // "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": 0,
    "max-len": 0
  }
}
